@font-face {
  font-family: 'Axiforma';
  src: url('./assets/fonts/Kastelov\ -\ Axiforma\ Regular.otf');
}


*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #FAFAFA;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  /* background-color: aquamarine; */
  height: 100dvh;
  width: 100dvw;
}

#app {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

/**
Dialogs
*/
body.overflow--hidden {
  overflow-y: hidden;
}


/**
Animations on transitions

*/

.slideup-enter-active,
.slideup-leave-active {
  /* transition: opacity 3s ease; */
  transition: transform .3s ease;
  transform: translateY(0%);
}

.slideup-enter-from,
.slideup-leave-to {
  transform: translateY(100%);
  /* opacity: 0; */
}


/* skeleton pulse animation */

@keyframes pulse-bg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}



